.seccion1 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.nav-color {
    /*background: rgb(4,59,87);
    background: linear-gradient(180deg, rgba(4,59,87,1) 0%, rgba(37,119,136,1) 100%);*/
    /*background: rgb(4,59,87);
    background: radial-gradient(circle, rgba(4,59,87,1) 0%, rgba(12,40,46,1) 100%);*/
    background: rgb(2,46,68);
    background: linear-gradient(180deg, rgba(2,46,68,1) 0%, rgba(10,49,57,1) 100%);
}

.nav-color i{
    color: white;
}

.titulo{
    margin: 20px;    
}

.subtitulo1{
    text-align: center;
    margin: 5%;
    color: rgb(243, 234, 234);
}

.imagenprincipal {
    max-width: 500px;
    max-height: 500px;
}

#obras{
    
    background-color:rgb(20, 20, 20);
    height: 100%;
    padding: 2rem;
}

.obras div{
    /*border: solid red 2px;*/
    align-items: center;
    justify-content: center;
}

.boton-color a{
    background: rgb(237,115,33);
    background: radial-gradient(circle, rgba(237,115,33,1) 0%, rgba(232,133,11,0.9864320728291317) 100%);
    border-color: rgb(237,115,33);
}

.subtitulo2{
    text-align: center;
    margin: 2em;
    color: rgb(20, 20, 20);
}

/*.image-container {position: relative;}
.image-container img{
   position: absolute;
   animation-name: multiple-image-crossfade;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   animation-duration: 16s;
}
.image-container img:nth-of-type(1) {
   animation-delay: 12s;
}
.image-container img:nth-of-type(2) {
   animation-delay: 8s;
}
.image-container img:nth-of-type(3) {
   animation-delay: 4s;
}
.image-container img:nth-of-type(4) {
   animation-delay: 0s;
}
@keyframes multiple-image-crossfade {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }*/